name: Workflow dispatch inputs
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
#  schedule: ## Schedule the job to run
#    - cron: '*/5 * * * *'
  workflow_call:
    inputs:
      browser:
        description: 'Input browser (chrome or IE)'
        required: true
        default: chrome
        type: string
      url:
        description: 'URL'
        required: true
        default: https:\/\/demo.guru99.com\/v3\/index.php
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'temurin'
        cache: maven

    - name: Write BROWSER value to Properties-file
      id: write_property1
      uses: Reedyuk/write-properties@v1.0.1
      with:
        path: './Configurations/configuration.properties'
        property: BROWSER
        value: ${{ inputs.browser }}

    - name: Write URL value to Properties-file
      id: write_property2
      uses: Reedyuk/write-properties@v1.0.1
      with:
          path: './Configurations/configuration.properties'
          property: WEB_URL
          value: ${{ inputs.url }}

    - name: Write UserName value to Properties-file
      id: write_property3
      uses: Reedyuk/write-properties@v1.0.1
      with:
        path: './Configurations/configuration.properties'
        property: UserName
        value: ${{ secrets.USERNAME }}

    - name: Write Password value to Properties-file
      id: write_property4
      uses: Reedyuk/write-properties@v1.0.1
      with:
        path: './Configurations/configuration.properties'
        property: Password
        value: ${{ secrets.PASSWORD }}

    - name: Read value from Properties-file
      id: read_property
      uses: christian-draeger/read-properties@1.1.0
      with:
        path: './Configurations/configuration.properties'
        properties: BROWSER WEB_URL UserName Password

    - name: Build and Test with Maven
      run: mvn clean test

    - name: Publish Test Report
      if: ${{ always() }}
      uses: scacap/action-surefire-report@v1

